.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    margin-left: 20px;
    font-size: 10px;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 10%;
    border: 1px solid rgb(59, 6, 6);
    background-color: transparent;
    color: rgb(59, 6, 6);

    &:focus,
    &:hover {
        background-color: rgba(59, 6, 6, 0.774);
        color: white;
    }
}